/result
/source
dist-newstyle
/.cache/vale/*
!/.cache/vale/config/
/.cache/vale/config/*
!/.cache/vale/config/vocabularies/
/.cache/vale/config/vocabularies/*
!/.cache/vale/config/vocabularies/ghc-compat-plugin/
!/.cache/vale/Vocab/
/.cache/vale/Vocab/*
!/.cache/vale/Vocab/ghc-compat-plugin/
/.local/state/project-manager/
/.local/state/nix/profiles/
/.cache/direnv/
